In [7]:
import pandas as pd

In [8]:
police = pd.read_csv('data/police.csv')
police.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [9]:
police.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [10]:
police.isna().sum().sort_values(ascending=False)

county_name           91741
search_type           88545
driver_age             5621
driver_gender          5335
driver_race            5333
violation_raw          5333
violation              5333
stop_outcome           5333
is_arrested            5333
stop_duration          5333
driver_age_raw         5327
stop_date                 0
stop_time                 0
search_conducted          0
drugs_related_stop        0
dtype: int64

In [18]:
police.drop('county_name', axis=1, inplace=True)

In [19]:
print(police.columns.values.tolist())

['stop_date', 'stop_time', 'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw', 'violation', 'search_conducted', 'search_type', 'stop_outcome', 'is_arrested', 'stop_duration', 'drugs_related_stop']

In [23]:
police['driver_gender'].value_counts(normalize=True)*100

M    72.790084
F    27.209916
Name: driver_gender, dtype: float64

Расчет размера выборки
Определите размер выборки для исследования с доверительным уровнем в 99% и ошибкой не более 1% при том, что мы не знаем, что 80% генеральной совокупности обладают целевым признаком. Результат расчета (целое число) сохраните в переменную size.

Обратите внимание: в заданиях не требуется выполнять вывод полученных результатов на экран.

In [1]:
import scipy.stats as st

conf = 0.99
Z = st.norm.ppf(conf + (1 - conf) / 2)
p = 0.8
q = 1 - p
delta = 0.01
size = round((Z**2)*p*q / delta**2)

Расчет доверительного интервала
У вас есть данные возрастов репрезентативной выборки сотрудников компании, которые генерируются кодом (см. окно ввода ответа).

Рассчитайте промежуток, в котором будет находиться среднее генеральной совокупности с 99% надежностью? Ответом должен выступать кортеж. Сохраните его в переменную ci.

In [2]:
import random
import scipy.stats as st
import numpy as np

random.seed(10)
ages = []
for i in range(0,30):
    n = random.randint(18,75)
    ages.append(n)

# далее запишите ваш код
ci = tuple(st.t.interval(confidence=0.99, df=len(ages)-1, loc=np.mean(ages), scale=st.sem(ages)))
ci

(35.61675553211002, 52.18324446788998)